body {
  font-family: 'Montserrat-black', sans-serif;
}

h1 {

  font-weight: 900;
  font-size: 2.6rem;
  line-height: 1.4;
  margin: 0 0;
}

 h2 {
   font-family: 'Montserrat-black', sans-serif;
   font-size: 2rem;
   line-height: 1.5;
   font-weight: bold;
 }

 h3 {
   font-family: 'Montserrat-black', sans-serif;
   font-size: 1.2rem;
   font-weight: bold;
   margin: 5px 0;
 }

.download-btn {
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
  color: white;
  position: relative;
}

.dog-img {
  display: block;
  width: 50%;
  transform: rotate(25deg);
  margin: 30px auto;
  z-index: 1;
}

.meet-new {
  display: block;
  margin: 4% auto;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

#features {
  padding: 5% 5%;
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-top: -130px;
}

#features .row {
  margin: 0;
}

#features h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

#features p {
  color: #8f8f8f;
}

.f-icons {
  color: #ef8172;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.f-icons:hover {
  color: #fa3e5c;
}

/* Testimonial-section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  position: relative;
}

.testimonial-img {
  width: 15%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;

}

.press-logo {
  width: 15%;
  margin: 20px 20px 30px;
}

/* Pricing Section */

#pricing {
  padding: 4% 0;
}

#pricing .row {
  margin: 0;
}

.card {
  padding: 0;
}

.pricing-cards {
  padding: 3% 2%;
}

.l-text {
  color: #adacac;
}
